body {
    margin: 0;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(8px);
}

.bg-text {
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50% -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;

}

.custom-section {
    padding-top: 50px;
}

.cb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text {
    font-family: 'Salsa', cursive;
}

footer {
    background: black;
    padding: 20px 0;
    color: white;
    margin-top: 40px;
    width: auto;
}


.home {
    background-image: url("imagenes/istockphoto-1249749650-612x612.jpg");
}